* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
  }
}

main {
  word-wrap: break-word;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: lighten($logo-dark, 75%);
  background-image: var(--background-image, url(/assets/alice-at-table.png));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;

  :first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  .container--narrow {
    @include large-up {
      width: 55em;
    }
  }
}

:last-child {
  margin-bottom: 0;
}
